html, body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #023047;
}

.container {
  flex: 1;
}

.card {
  border: none;
}

.card i {
  margin-bottom: 15px;
}

.card-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.info-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 1.1rem;
}

.info-box i {
  margin-right: 10px;
}

footer {
  background-color: #023047;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); /* Sombra superior */
}
