<%- include('includes/head'); %>

<!-- Cabeçalho -->
<%- include('includes/nav'); %>

<!-- Conteúdo Principal -->
<div class="container">
    <h1 class="my-5">Lista de Funcionários</h1>
    <table class="employee-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Empresa</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aqui você pode inserir dinamicamente as linhas com as informações dos funcionários -->
            <tr>
                <td>João Silva</td>
                <td>30</td>
                <td>joao.silva@email.com</td>
                <td>(11) 99999-9999</td>
                <td>Empresa X</td>
                <td>Desenvolvedor</td>
                <td>
                    <button class="edit-btn">Editar</button>
                    <button class="time-btn">Horários</button>
                </td>
            </tr>
            <!-- Mais funcionários -->
        </tbody>
    </table>
</div>

<script rel="stylesheet" src="/assets/js/funcionarios.bundle.js"></script>

<%- include('includes/footer'); %>